* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    padding-bottom: 90px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.speed-control {
    width: 300px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;

}

.speed-control > span {
    /* background:  */
    border: 1px solid #231F20;
    padding: 3px 7px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 1s ease;
}
.speed-control > span:hover{
    color: #E72B39;
    border-color: #E72B39;
}
.speed-control > span.active {
    color: #E72B39;
    border-color: #E72B39;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media only screen and (max-width: 600px) {
    body {
        height: 750px;
    }
    #codeSpace {
        height: 200px;
        background: #ddd;
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        top: 550px;
    }
}